* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header Styling */

.header, .hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15%;
}

.logo {
    font-size: 1.5rem;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    color: #e5e7eb;
    font-size: 0.75rem;
}

/* First Section Styling */

.hero-content, .hero-image {
    flex: 1;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.125rem;
    border: none;
    cursor: pointer;
}