/* Global Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid pink; */
}

body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

/* First Section Styling */

.first-section {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 450px;
}

.header, .fs-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.header p {
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.content-lhs, .content-rhs {
    height: 230px;
    width: 500px;
}

.content-lhs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lhs-title {
    font-size: 48px;
    font-weight: 900;
}

.lhs-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 10px;
    color: #f9faf8;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 35px;
}

.content-rhs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-weight: bold;
}

